override: true;
useHMS: true;
body, html {
    background-color: #fff;
    color: #d0d0d0;
    font-family: roboto,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}

.countdown-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #d0d0d0
  text-align: center;
}

#time, #countdown {
    color: #d0d0d0
    position: relative;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
