override: true;
useHMS: true;
body {
    padding-bottom: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


.#countdown, #time {
    position: relative;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

body,html,nav {
    font-family: roboto,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}

#main {
  width: 98%;
    margin: 1%;
    border-radius: 1vw;
}

#eventName {
      font-size: 3em !important;
}

.page-header {
  width:100%;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 1vw;
    min-height: 44vh;
    width: 60%;
    background-color: rgba(221,221,221,.5);
    margin: .5%;
    padding-bottom: 4em;
    border-radius: .5vw;
}
#countdown {
  display: inline-block;
text-align: center;
font-size: 7em;
padding-bottom: 0;
margin-left: auto;
margin-right: auto;
}
