override: true;
useHMS: true;
body, html {
    background-color: #fff;
    color: #d0d0d0;
    font-family: roboto,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}

#settings {
  opacity: 0.1;
  transition: opacity ease-in-out 0.25s;
  text-align: right;
}

#settings:hover {
  opacity: 0.25;
  text-align: right;
}

.countdown-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #d0d0d0
  text-align: center;
  width: 100%;
}

#countdown {
  font-weight: bold;
  font-size: 5vw;
}
#time {
  font-size: 2.5vw;
}

#time, #countdown {
    color: #d0d0d0
    position: relative;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
