body {
    background-color: #fff;
    font-family: roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

#settings {
    text-align: right;
    margin-right: 18px;
    margin-top: 18px;
}

#settings>a>img {
    opacity: 0.1;
    transition: opacity ease-in-out 0.25s;
}

#settings>a>img:hover {
    opacity: 0.4;
    text-align: right;
}

.countdown-container {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 0;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    color: #d0d0d0;
    text-align: center;
    width: 100%;
}

#countdown {
    font-weight: bold;
    font-size: 5vw;
}

#time {
    font-size: 2vw;
}

#event {
    font-size: 2vw;
    padding-bottom: 1.25%;
    text-align: center;
}
#time, #countdown {
    color: #d0d0d0;
    position: relative;
    text-align: center;
}