@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

@font-face {
  font-family: "oxygen";
  src: url(./font/Quark-Light.otf) format("opentype");
}

@font-face {
  font-family: "prime";
  src: url(./font/Prime-Regular.otf) format("opentype");
}

#settings {
  margin-top:-48px;margin-right:16px;position:absolute;right:0px;
}

#countdown {
      font-size: 2.5rem;
}

#time {
  font-family: "prime";
  font-size: 1.15rem;
  color: #dddddd;
}

html {
  font-family: "oxygen";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #dddddd;
}

.countdown-container {
  font-family: "oxygen";
  padding: 2.5em;
  color: #fff;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 66px;
  border: 7px solid #757575;
  border-radius: 50px;
  text-align: center;
  background-color: #999999;
}

.project-name {
  font-family: "prime";
  margin-top: 0;
  margin-bottom: 0.1rem
}

.project-tagline {
  font-family: "prime";
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem
  }
}

.main-content {
  word-wrap: break-word
}

.main-content :first-child {
  margin-top: 0
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 108rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem
  }
}
