@font-face {
    font-family: "amogus";
    src: url("/resources/font/imposter.ttf");
}
@font-face {
    font-family: "sub sus";
    src: url("/resources/font/sus.ttf");
}

body {
    background-color: #000;
    font-family: "amogus", roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    background-image: url('https://github.com/jawamencad/sus/blob/729647374ffe4589010651b1a4692ac08a118e93/sus.png?raw=true');
    background-size: cover;
}

#settings {
    text-align: right;
    margin-right: 18px;
    margin-top: 18px;
}

#settings>a>img {
    opacity: 0.4;
    filter: invert(1);
    transition: opacity ease-in-out 0.25s;
}

#settings>a>img:hover {
    opacity: 0.6;
    text-align: right;
}

.countdown-container {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 0;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    color: #CC3A3A;
    text-align: center;
    width: 100%;
}

#countdown {
    font-weight: bold;
    font-size: 4.5vw;
}

#time {
    font-size: 3vw;
    font-family: "sub sus", "amogus", roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

#event {
    font-size: 3vw;
    font-family: "sub sus", "amogus", roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    padding-bottom: 1.25%;
    text-align: center;
}
#time, #countdown {
    color: #CC3A3A;
    position: relative;
    text-align: center;
}
